a {
    text-decoration: none;
    color :#fff;
}
.container {
    background-color: #fff;
    border-radius: 10px;
    padding :50px;
    margin-bottom: 80px;
    width:900px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.btn-back {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 20px;
}
.btn-idex {
    padding: 10px;
    background-color: #28a745; /* Màu nền ban đầu */
    color: #ffffff; /* Màu chữ trắng để dễ đọc trên nền xanh lá cây */
    border: none; /* Xóa đường viền nếu có */
    border-radius: 5px; /* Bo tròn góc */
    transition: background-color 0.3s ease; /* Thêm hiệu ứng chuyển tiếp màu nền */
    cursor: pointer; /* Hiển thị con trỏ chuột dạng tay */
}

.btn-idex:hover {
    background-color: rgba(40, 167, 69, 0.7); /* Màu nền khi di chuột qua, nhạt hơn */
}

.product-image{
    border:1px solid #afadad;
}
.product-price {
    font-size: 24px;
    color: #e74c3c;
    margin: 10px 0;
}
.row{
    align-items: center;
}
.btn-buy {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.btn-buy:hover {
    background-color: #218838;
}
.container_contact-span {

    text-align: center;
    border-radius: 20px;;
}
.container_contact-span:hover {
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.1);
}
.contact-logo {
    width:20px;
    height:20px;
    margin:0 5px;
}